[user]
	name = a-mellor
	email = alex.mellor@honeycomb.tv
[core]
	editor = nvim
	excludesfile = /Users/alexmellor/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = osxkeychain
[diff "ansible-vault"]
	textconv = ansible-vault view
